@import '_variables';
@import '_mixins';


.singleBilboard :global {
    margin-bottom: 100px;
    .bilboards {
        margin:60px 0;
        .bilboardContent {
            margin-top: 30px;
    
            h1 {
                font-size: 30px ;
                margin-top: 40px;
                font-weight: bold;
            }
    
            p {
                line-height: 1.7;
                margin-bottom: 20px;
            }
            .date {
                color: $c-p;
                font-weight: bold;
            }
        }

        .imgContainer {
            background-size: cover;
            height: 320px;
            margin-bottom: 10px;

            @include small {
                height: 200px;
            }
        }

        .imgTitle {
            font-weight: bold;
            color: $c-p;
            margin-bottom: 30px;
        }
    }

    .nextAndPrev {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include small {
            flex-direction: column;
            gap: 15px;
        }


        .next,
        .prev {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;

            svg {
                font-size: 20px;
            }
        }
    }
}