@import "_variables";

.customers :global {
  .customersSection {
    margin-top: 40px;
    .topHeading {
      text-align: center;
      .subTitle {
        color: $c-p;
        text-transform: capitalize;
      }
    }
    .customer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;

      .content {
        position: relative;
        z-index: 1;

        h3 {
          color: #fff;
        }
      }
    }
  }
}
